.split_left{
    height:100% ;
    width: 30%;
    position: fixed;
     z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-color:#2B00FF;
}
.split_right{
    height:100% ;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
    background-color:white;

}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    text-align:center;
  }

.reg{
    background-color: #f2f2f2;
}



  #main
  {
  width:650px;
  height:550px;
  margin:auto;
  background:#F3F3F3;
  box-shadow:1px 1px 1px 1px grey;
  }

  marquee{
    font-size: 30px;
    font-weight: 800;
    color:rgb(165, 17, 17);
    font-family: sans-serif;
    }
.bottom {
    height:50px;
}



.required:after {
    content:" *";
    color: red;
  }
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
table {  
  border: 1px solid #ddd;
  text-align: left;
  margin:20px
}
input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  margin: 1px 1px;
  cursor: pointer;
}
input[type=reset]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  margin: 1px 1px;
  cursor: pointer;
}
input[type=button]{
  background-color: #e2a624;
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin: 1px 1px;
  cursor: pointer;
}


  